<!DOCTYPE html>
<html>
<head>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        window.opener.authorized = @ViewBag.Authorized;
        window.close();
    </script>
</head>
<body>
</body>
</html>