<!DOCTYPE html>
<html ng-app="scheduleKpi">
<head>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        angular.module('scheduleKpi').value('authorized', @ViewBag.Authorized);
    </script>
    <meta http-equiv="refresh" content="0; url=/" /> 
</head>
<body>
</body>
</html>