<div class="container">
    <div class="card">
        <h4 class="center-align light">Редагувати групу {{group.name}}</h4>
        <div class="card-content">
            <form name="editGroupForm" ng-submit="editGroup()">
                <div class="input-field col s12">
                    <input id="groupName" type="text" name="name" ng-model="group.name" value="{{group.name}}" required /><br />
                    <label for="groupName" class="active">Назва групи</label>
                </div>
                <div class="input-field col s12">
                    <input id="groupCourse" type="number" name="id" ng-model="group.course" value="{{group.course}}" required /><br />
                    <label for="groupCourse" class="active">Курс</label>
                </div>
                <div class="input-field col s12">
                    <input id="groupSpeciality" type="text" name="id" ng-model="group.specialityId" value="{{group.specialityId}}" required /><br />
                    <label for="groupSpeciality">Спеціальність</label>
                </div>
                <div class="input-field col s12">
                    <input id="groupQuantity" type="number" name="id" ng-model="group.quantity" value="{{group.quantity}}" required /><br />
                    <label for="groupQuantity" class="active">Кількість студентів в групі</label>
                </div>

                <button type="submit" ng-disabled="editGroupForm.$invalid" class="btn waves-effect waves-light">Зберегти</button>
                <a class="btn waves-effect waves-light" href="/groups">Відмінити</a>
            </form>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        Materialize.updateTextFields();
    },1000)
</script>