<div class="container">
    <h2 class="light">Список груп</h2>
    <a class="btn waves-effect waves-light modal-trigger" data-target="modal1">Додати нову групу</a>
    <table class="striped">
        <thead>
            <tr>
                <th data-field="id">
                    <button class="btn-large transparent black-text" ng-click="sortBy('id')"><h6>Номер групи</h6></button>
                    <span ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="name">
                    <button class="btn-large transparent black-text" ng-click="sortBy('name')"><h6>Назва групи</h6></button>
                    <span ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="name">
                    <button class="btn-large transparent black-text" ng-click="sortBy('specialityId')"><h6>Номер спеціальності</h6></button>
                    <span ng-show="propertyName === 'specialityId'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="course">
                    <button class="btn-large transparent black-text" ng-click="sortBy('course')"><h6>Курс</h6></button>
                    <span ng-show="propertyName === 'course'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="quantity">
                    <button class="btn-large transparent black-text" ng-click="sortBy('quantity')"><h6>Кількість студентів</h6></button>
                    <span ng-show="propertyName === 'quantity'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn-large transparent black-text"><h6>Видалення</h6></button>
                </th>
                <th>
                    <button class="btn-large transparent black-text"><h6>Редагування</h6></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="group-item" ng-repeat="group in groups">
                <td>{{group.id}}</td>
                <td>{{group.name}}</td>
                <td>{{group.specialityId}}</td>
                <td>{{group.course}}</td>
                <td>{{group.quantity}}</td>
                <td><a class="btn waves-effect waves-light red lighten-2" ng-click="deleteGroup(group)">Видалити групу</a></td>
                <td><a class="btn waves-effect waves-light" href="/groups/edit/{{group.id}}">Редагувати групу</a></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Додати нову групу {{newGroup.name}}</h4>
        <form name="addGroupForm" ng-submit="addGroup()">
            <div class="input-field col s12">
                <input id="groupName" type="text" name="name" ng-model="newGroup.name" required /><br />
                <label for="groupName">Назва групи</label>
            </div>
            <div class="input-field col s12">
                <input id="groupCourse" type="number" name="course" ng-model="newGroup.course" required /><br />
                <label for="groupCourse">Курс</label>
            </div>
            <div class="input-field col s12">
                <input id="groupSpeciality" type="text" name="specialityId" ng-model="newGroup.specialityId" required /><br />
                <label for="groupSpeciality">Спеціальність</label>
            </div>
            <div class="input-field col s12">
                <input id="groupQuantity" type="number" name="quantity" ng-model="newGroup.quantity" required /><br />
                <label for="groupQuantity">Кількість студентів в групі</label>
            </div>
            <button type="submit" ng-disabled="addGroupForm.$invalid" class="btn modal-close waves-effect waves-light">Зберегти</button>
            <a class="btn waves-effect modal-close waves-light">Відмінити</a>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });
</script>