<div class="container">
    <div class="row">
        <div class="card col l5 offset-l3 m4 offset-m4 s8 offset-s2">
            <div class="card-content">
                <form>
                    <div class="input-field col s12">
                        <input id="groupId" type="text" name="id" ng-model="admins.login" required /><br />
                        <label for="groupId">Логін</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="groupName" type="text" name="name" ng-model="admins.password" required /><br />
                        <label for="groupName">Пароль</label>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Увійти</button>
                    <a class="btn waves-effect waves-light" href="/">На головну</a>
                </form>
            </div>
        </div>
    </div>
</div>
