<nav class="teal">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s10 offset-s1">
                <a href="/" class="brand-logo"><img src="../images/logo.png" alt="Logo" width="65" /><span class="thin" style="vertical-align:top">РОЗКЛАД</span></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/specialities" class="thin">Спеціальності</a></li>
                    <li><a href="/groups" class="thin">Групи</a></li>
                    <li><a href="/" class="thin">Викладачі</a></li>
                    <li><a href="/" class="thin">Навчальний план</a></li>
                    <li><a href="/" class="thin">Увійти</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>