<div class="container">
    <h2 class="light">План для спеціальності {{specialityName.name}}</h2>
    <a class="btn waves-effect waves-light modal-trigger" data-target="modal1">Додати новий предмет</a>
    <table class="striped">
        <thead>
            <tr>
                <th data-field="subjectId">
                    <button class="btn-large transparent black-text" ng-click="sortBy('subject.name')"><h6>Назва предмету</h6></button>
                    <span ng-show="propertyName === 'subject.name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="semester">
                    <button class="btn-large transparent black-text" ng-click="sortBy('semester')"><h6>Номер семестру</h6></button>
                    <span ng-show="propertyName === 'semester'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="lectures">
                    <button class="btn-large transparent black-text" ng-click="sortBy('lectures')"><h6>Кількість лекцій</h6></button>
                    <span ng-show="propertyName === 'lectures'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="practices">
                    <button class="btn-large transparent black-text" ng-click="sortBy('practices')"><h6>Кількість практик</h6></button>
                    <span ng-show="propertyName === 'practices'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="teacher">
                    <button class="btn-large transparent black-text" ng-click="sortBy('teacher.fullName')"><h6>Викладач</h6></button>
                    <span ng-show="propertyName === 'teacher.fullName'" ng-class="{reverse: reverse}"></span>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="group-item" ng-repeat="subject in plan">
                <td class="center-align">{{subject.subject.name}}</td>
                <td class="center-align">{{subject.semester}}</td>
                <td class="center-align">{{subject.lectures}}</td>
                <td class="center-align">{{subject.practices}}</td>
                <td class="center-align">{{subject.teacher.fullName}}</td>
                <td><a class="btn waves-effect waves-light red lighten-2" ng-click="deleteSubject(subject)">Видалити предмет</a></td>
                <td><a class="btn waves-effect waves-light modal-trigger2" ng-click="showEditForm(subject)" data-target="modal2">Редагувати предмет</a></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Додати новий план</h4>
        <form name="addSubjectForm" ng-submit="addSubject()">
            <select name="subjectName" ng-model="newSubject.subjectId" required>
                <option value="" disabled selected>Предмет</option>
                <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.name}}</option>
            </select>
            <div class="input-field col s12">
                <input id="subjectSemester" type="number" name="semester" ng-model="newSubject.semester" required /><br />
                <label for="subjectSemester">Семестр</label>
            </div>
            <div class="input-field col s12">
                <input id="subjectLectures" type="number" name="lectures" ng-model="newSubject.lectures" required /><br />
                <label for="subjectLectures">Кількість леккцій</label>
            </div>
            <div class="input-field col s12">
                <input id="subjectPractices" type="number" name="practices" ng-model="newSubject.practices" required /><br />
                <label for="subjectPractices">Кількість практик</label>
            </div>
            <select name="subjectTeacher" ng-model="newSubject.teacherId" required>
                <option value="" disabled selected>Викладач</option>
                <option ng-repeat="teacher in teachers" value="{{teacher.id}}">{{teacher.fullName}}</option>
            </select>
            <button type="submit" ng-disabled="addSubjectForm.$invalid" class="btn modal-close waves-effect waves-light">Зберегти</button>
            <a class="btn waves-effect modal-close waves-light">Відмінити</a>
        </form>
    </div>
</div>
<!--modal2-->
<div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Редагувати предмет</h4>
        <form name="editSubjectForm" ng-submit="editSubject()">
            <select name="subjectName" ng-model="editedSubject.subjectId" required>
                <option value="" disabled selected>Предмет</option>
                <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.name}}</option>
            </select>
            <div class="input-field col s12">
                <input id="subjectSemester" type="number" name="semester" ng-model="editedSubject.semester" required /><br />
                <label for="subjectSemester">Семестр</label>
            </div>
            <div class="input-field col s12">
                <input id="subjectLectures" type="number" name="lectures" ng-model="editedSubject.lectures" required /><br />
                <label for="subjectLectures">Кількість леккцій</label>
            </div>
            <div class="input-field col s12">
                <input id="subjectPractices" type="number" name="practices" ng-model="editedSubject.practices" required /><br />
                <label for="subjectPractices">Кількість практик</label>
            </div>
            <select name="subjectTeacher" ng-model="editedSubject.teacherId" required>
                <option value="" disabled selected>Викладач</option>
                <option ng-repeat="teacher in teachers" value="{{teacher.id}}">{{teacher.fullName}}</option>
            </select>
            <button type="submit" ng-disabled="editSubjectForm.$invalid" class="btn modal-close waves-effect waves-light">Зберегти</button>
            <a class="btn waves-effect modal-close waves-light">Відмінити</a>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        setTimeout(function () {
            $('.modal-trigger').leanModal();
            $('.modal-trigger2').leanModal();
            $('select').material_select();
        },1000)
    });
</script>