<div class="container">
    <h2 class="light">Розклад</h2>
    <table class="striped">
        <thead>
            <tr>
                <td></td>
                <td>Понеділок</td>
                <td>Вівторок</td>
                <td>Середа</td>
                <td>Четвер</td>
                <td>П'ятниця</td>
                <td>Субота</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in days">
                <td>{{row.number}}</td>
                <td ng-repeat="pair in row">
                    {{pair.name}}<br />
                    {{pair.teacher}}<br />
                    {{pair.type}}<br />
                    {{pair.audience}}
                </td>
            </tr>
        </tbody>
    </table>
</div>