<div class="container">
    <h2 class="light">Список спеціальностей</h2>
    <a class="btn waves-effect waves-light" href="/specialities/add">Додати нову спеціальність</a>
    <table class="striped responsive-table">
        <thead>
            <tr>
                <th data-field="id">
                    <button class="btn-large transparent black-text" ng-click="sortBy('id')"><h6>Номер спеціальності</h6></button>
                    <span ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
                </th>
                <th data-field="name">
                    <button class="btn-large transparent black-text" ng-click="sortBy('name')"><h6>Назва спеціальності</h6></button>
                    <span ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn-large transparent black-text"><h6>Видалення</h6></button>
                </th>
                <th>
                    <button class="btn-large transparent black-text"><h6>Редагування</h6></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="group-item" ng-repeat="speciality in specialities">
                <td>{{speciality.id}}</td>
                <td>{{speciality.name}}</td>
                <td><a class="btn waves-effect waves-light red lighten-2" href="/specialities/delete/{{speciality.id}}">Видалити спеціальність</a></td>
                <td><a class="btn waves-effect waves-light" href="/specialities/edit/{{speciality.id}}">Редагувати спеціальність</a></td>
            </tr>
        </tbody>
    </table>
</div>