<div class="container">
    <div class="row">
        <div class="card col l4 offset-l4 m4 offset-m4 s8 offset-s2">
            <div class="card-content">
                <form ng-submit="deleteSpeciality()">
                    <button class="btn-large waves-effect waves-light red lighten-2" type="submit">Видалити спеціальність {{speciality.name}}</button><br /><br />
                    <a class="btn-large waves-effect waves-light" href="/specialities">Повернутись до спеціальностей</a>
                </form>
            </div>
        </div>
    </div>
</div>