<div class="container">
    <h2 class="light">Список викладачів</h2>
    <a class="btn waves-effect waves-light modal-trigger" data-target="modal1">Додати нового викладача</a>
    <table class="striped">
        <thead>
            <tr>                
                <th data-field="name">
                    <button class="btn-large transparent black-text" ng-click="sortBy('name')"><h6>ПІБ викладача</h6></button>
                    <span ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="group-item" ng-repeat="teacher in teachers">
                <td>{{teacher.name}}</td>
                <td><a class="btn waves-effect waves-light red lighten-2" ng-click="deleteTeacher(teacher)">Видалити спеціальність</a></td>
                <td><a class="btn waves-effect waves-light modal-trigger2" ng-click="showEditForm(teacher)" data-target="modal2">Редагувати спеціальність</a></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Додати нового викладача {{newTeacher.name}}</h4>
        <form name="addTeacherForm" ng-submit="addTeacher()">
            <div class="input-field col s12">
                <input id="groupName" type="text" name="name" ng-model="newTeacher.name" required /><br />
                <label for="groupName">ПІБ викладача</label>
            </div>
            <button type="submit" ng-disabled="addTeacherForm.$invalid" class="btn waves-effect waves-light modal-close">Зберегти</button>
            <a class="btn waves-effect waves-light modal-close">Відмінити</a>
        </form>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Додати нового викладача {{editedTeacherName}}</h4>
        <form name="editTeacherForm" ng-submit="editTeacher()">
            <div class="input-field col s12">
                <input id="groupName" type="text" name="name" ng-model="editTeacher.name" required /><br />
                <label for="groupName">ПІБ викладача</label>
            </div>
            <button type="submit" ng-disabled="editTeacherForm.$invalid" class="btn waves-effect waves-light modal-close">Зберегти</button>
            <a class="btn waves-effect waves-light modal-close">Відмінити</a>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        setTimeout(function () {
            $('.modal-trigger').leanModal();
            $('.modal-trigger2').leanModal();
        }, 1000)
    });
</script>